h1 , h2 , h3 { margin: 0 0 0 96px; padding: 20px 0 0 0 ; font-size: 1.1em ; }
h4 , h5 , h6 { margin: 0 0 0 96px; padding: 20px 0 0 0 ; font-size: 1.0em ; }

#twopartheader    {
    background: transparent url(images/ALA-doc-3-about.gif) no-repeat scroll 0% 65%;
}
/* hack for IE */
* html #twopartheader {
    height: 80px;
}

#content p { margin: 5px 50px 0 5px;}
#content ul, ol {
    margin: 10px 300px -10px 110px;
    padding: 0 10px 5px 14px ;
    /* border-right: 1px solid #eee;
    border-bottom: 1px solid #eee; */
}
ul#quickLinks {
	margin: 5px 0px 0px 15px;
}
#content ul.breadcrumblist { margin-left:0px; padding-left:0px; }

#content textarea { margin: 5px 0 0 5px; }
#content ul.noBorder { border: none; }

.deeplinks {width: 720px; height:100px; }
#deepLinkingScreenshot { margin: 5px 0 0 5px; border:1px solid #CCCCCC; width:720px;}
#content iframe { margin: 5px 0 0 5px; padding:0;}

#content ol ol { margin: 10px 0px -10px 10px; padding: 0 10px 5px 14px ; border: none; }