#map {
    width: 1024px;
    height: 500px;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 10px 0px 10px 0px;
}
img.mapImage {
    width: 1000px;
    height: 768px;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 10px 0px 10px 0px;
}