<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="warn"/>
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p: [%c{5}] %m%n" />
        </layout>
    </appender>
    <appender name="rolling" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/tmp/sensitive-species.log"/>
        <param name="MaxFileSize" value="5120KB"/>
        <param name="MaxBackupIndex" value="5"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p: [%c{5}] %m%n" />
        </layout>
    </appender>

    <!-- 3rdparty Loggers -->
    <logger name="au.org.ala.checklist">
        <level value="info" />
    </logger>

    <logger name="org.springframework.core">
        <level value="warn" />
    </logger>

    <logger name="org.springframework.jdbc">
        <level value="info" />
    </logger>

    <!-- Root Logger -->
    <root>
        <level value="debug" />
        <appender-ref ref="console" />
        <appender-ref ref="rolling" />
    </root>
    
</log4j:configuration>
