<?xml version="1.0"?>
  <r:RDF
    xmlns:a="http://www.w3.org/2000/10/annotation-ns#"
    xmlns:t="http://www.w3.org/2001/03/thread#"
    xmlns:r="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:dc="http://purl.org/dc/elements/1.0/"
    xmlns:vcard = "http://www.imc.org/vcard/3.0/"
    xmlns:h="http://www.w3.org/1999/xx/http#"
    xmlns:ala="http://ala.org.au/2009/annotation/0.1/">
  <r:Description>
#if ($annotationType == "Annotation")
    <r:type r:resource="http://www.w3.org/2000/10/annotation-ns#Annotation"/>
#else
    <r:type r:resource="http://www.w3.org/2001/03/thread#Reply"/>
    <t:inReplyTo r:resource="${replyRoot}"/>
    <t:root r:resource="${replyRoot}"/>
#end
    <r:type r:resource="http://www.w3.org/2000/10/annotationType#$type"/>
    <a:annotates r:resource="$url"/>
    <dc:creator>$creator</dc:creator>
    <a:context>${url}#${xpath}</a:context>
    <dc:title>$title</dc:title>
    <dc:language>$lang</dc:language>
    <a:body>
      $body
    </a:body>
  </r:Description>
</r:RDF>