<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">


  <!-- Hibernate Search -->
  <bean id="hsSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    <property name="configLocation" value="classpath:hibernate-search.cfg.xml"/>
  </bean>
  
  <!-- Institution -->
  <bean id="institutionDAORO" class="org.ala.dao.jdbc.InstitutionDAOImpl">
    <property name="dataSource" ref="dataSource"/>
  </bean>
  
  <!-- Cell Density -->
  <bean id="alaCellDensityDAO" class="org.ala.dao.jdbc.CellDensityDAOImpl">
      <property name="dataSource" ref="dataSource"/>
  </bean>

  <!-- Geo Region-->
  <bean id="alaGeoRegionDAORO" class="org.ala.dao.hibernate.GeoRegionDAOImpl">
	<property name="sessionFactory" ref="sessionFactory"/>
  </bean>
</beans>