<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

  <!-- Hibernate Search (Lucene) -->
  <bean id="hsSessionFactory" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
    <!-- use the shared resource data source definition -->
    <property name="dataSource" ref="dataSource"/>
    <!-- reference the xdoclet2 generated Hibernate config -->
    <property name="configLocation" value="classpath:hibernate-search.cfg.xml"/>
  </bean>
  
  <!-- Institution -->
  <bean id="institutionDAORO" class="org.ala.dao.jdbc.InstitutionDAOImpl">
    <property name="dataSource" ref="dataSource"/>
  </bean>
  
  <!-- Geo Region Data Resource -->
  <bean id="geoRegionDataResourceDAORO" class="org.ala.dao.jdbc.GeoRegionDataResourceDAOImpl">
      <property name="dataSource" ref="dataSource"/>
  </bean>

  <!-- Geo Region Taxon Concept -->
  <bean id="geoRegionTaxonConceptDAORO" class="org.ala.dao.jdbc.GeoRegionTaxonConceptDAOImpl">
      <property name="dataSource" ref="dataSource"/>
  </bean>

  <!-- Occurrence Facet -->
  <bean id="occurrenceFacetDAORO" class="org.ala.dao.solr.OccurrenceFacetDAOImpl">
      <property name="messageSource" ref="messageSource"/>
      <property name="taxonomyManager" ref="taxonomyManager"/>
      <property name="solrDataHelper" ref="solrDataHelper"/>
  </bean>

  <!-- ALA Occurrence Record DAO -->
  <bean id="alaOccurrenceRecordDAORO" class="org.ala.dao.hibernate.OccurrenceRecordDAOImpl">
      <property name="sessionFactory" ref="sessionFactory"/>
  </bean>

  <!-- SOLR data Helper -->
  <bean id="solrDataHelper" class="org.ala.dao.solr.SolrDataHelper">
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <!-- ALA overrides... -->

  <!-- Cell Density -->
  <bean id="alaCellDensityDAO" class="org.ala.dao.jdbc.CellDensityDAOImpl">
      <property name="dataSource" ref="dataSource"/>
  </bean>

  <!-- Web Service (aka Resource Access Point) -->
  <bean id="webServiceDAO" class="org.ala.dao.hibernate.WebServiceDAOImpl">
    <property name="sessionFactory" ref="hsSessionFactory"/>
  </bean>

  <!-- Geo Region-->
  <bean id="alaGeoRegionDAORO" class="org.ala.dao.jdbc.GeoRegionDAOImpl">
	<property name="dataSource" ref="dataSource"/>
  </bean>
</beans>