<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:ctx="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- Scan source files for annotations for DI -->
    <ctx:component-scan base-package="au.org.ala"/>
    
	<bean id="sensitiveSpeciesDao" class="au.org.ala.sds.dao.SensitiveSpeciesDaoImpl" />
	
	<bean id="searchImpl" class="au.org.ala.sds.SensitiveSpeciesFinder">
	   <property name="dao" ref="sensitiveSpeciesDao" />
	</bean>

    <bean id="CBIndexSearch" class="au.org.ala.checklist.lucene.CBIndexSearch" lazy-init="true">
        <constructor-arg value="/data/lucene/namematching"/>
    </bean>

    <bean id="occurrenceDataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" lazy-init="true">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost/portal"/>
        <property name="username" value="root"/>
        <property name="password" value="password"/>
    </bean>
</beans>